* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/*   HEADER   */

.headerIndex {
    position: relative;
    z-index: 2000;
    width: 100%;
    display: flex;
    column-gap: 4rem;
    height: 3rem;
    align-items: center;
    background: #BDB7B7;
}

.headerMenu {
    width: 70%;
}

.headerMenu .offcanvas-body {
    padding: 0;
}

.headerIndex__acordeon .accordion-body {
    display: flex;
    flex-direction: column;
}

.headerIndex__acordeon a {
    text-decoration: none;
    color: black;
}


.headerInput {
    height: 60%;
}

/*   MAIN   */

.mainIndex {
    padding: 0;
}

/*   MAIN CARROUSEL 1   */
.mainIndex__carrousel {
    padding: 0;
}

.carrouselPrincipal .carousel-item {
    background: grey;
}

.carousel-item img {
    width: 100%;
    height: 15rem;
}

/*   MAIN BANNER   */

.mainIndex__bannerContainer {
    height: 12vh;
    background: #CACACA;
    padding: .4rem 0;
}

.mainIndex__bannerContainer div:nth-child(2) {
    border-left: 1px solid #969696;
    border-right: 1px solid #969696;
}

.mainIndex__bannerContainer div {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: .7rem;
}


.mainIndex__bannerContainer img {
    height: 100%;
}


/*   MAIN CARROUSEL 2   */

.mainIndex__marcasCarrousel {
    padding: 0;
}

.marcasCarrousel__titulo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 12vh;
}

.marcasCarrousel__titulo h2 {
    font-size: 1rem;
    font-weight: 700;
}

.marcasCarrousel__titulo h3 {
    font-size: .8rem;
    color: #606060;
}

.marcasCarrousel__titulo div {
    display: flex;
}

.marcasCarrousel__titulo ion-icon {
    color: black;
    width: 2rem;
    height: 2rem;
}

.marcasCarrousel__titulo .carousel-control-prev {
    margin-right: 1rem;
}

.marcasCarrousel__titulo .carousel-control-prev,
.marcasCarrousel__titulo .carousel-control-next {
    height: 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    padding: 0;
    color: #fff;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    opacity: 1;
    transition: opacity .15s ease;
}

.carrouselSecundario .carousel-item {
    height: 20vh;
}

.carrouselSecundario .card-group {
    height: 100%;
    display: flex;
    justify-content: center;
}

.carrouselSecundario .card {
    margin: 0 1rem;
    width: 100%;
    height: 100%;
    background: #C4C4C4;
}

.carrouselSecundario .card p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*   MAIN MAS VENDIDOS   */

.mainIndex__masVendidos {
    margin-top: 2rem;
}

.masVendidos__titulo {
    display: flex;
    padding: 0 0 0 1.5rem;
    margin-bottom: 1rem;
}

.masVendidos__titulo h2 {
    font-size: 1rem;
    font-weight: 700;
}

.masVendidos__titulo h3 {
    margin: 0 0 0 1rem;
    font-size: .8rem;
    color: #606060;
}

.masVendidos__productos {
    padding: 0;
    justify-content: center;
    gap: 1rem;
}

.masVendidos__productos div {
    padding: 0;
    height: 20vh;
    background: #C4C4C4;
}

/* MAIN BANNER CHICO */

.mainIndex__bannerChico {
    padding: 1rem 1.5rem;
}

.mainIndex__bannerChico div {
    border-radius: .5rem;
    background: #C4C4C4;
    box-shadow: 0px 2px #8d8d8d;
}

.mainIndex__bannerChico p {
    font-size: .9rem;
    text-align: center;
    margin: 0;
}

/* MAIN BANNER BIENVENIDO */

.mainIndex__bannerBienvenido {
    padding: 1rem 1.5rem;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8d8d8d;
}

.mainIndex__bannerBienvenido h3 {
    text-align: center;
}

/* MAIN BANNER CUPON */

.mainIndex__bannerCupon {
    padding: 1rem 1.5rem;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #C4C4C4;
}


.mainIndex__bannerCupon input {
    border: none;
    border-radius: .5rem;
    background: #817B7B;
    padding: 0 2rem;
    color: white;
}


/*     FOOTER     */

.footerIndex {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 0 3rem 0;
    background: rgba(196, 196, 196, 0.56);
    ;
}

.footerIndex a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.footerIndex p {
    padding: 0 3rem;
    font-weight: 700;
}

.footerIndex div {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.footerIndex ion-icon {
    width: 2rem;
    height: 3rem;
}