* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

:root {
  --main--color: #551a8b;
  --color--pesos: #8e24aa;
  --blanco: white;
  --negro: black;
  --sombra--contenedores: gray;
  --boton--comprar: #9752da;
  --boton--cupon: #f89dff;
  --button--accordion: #0a847e;
  --color--nav-footer: #efebe2;
  --color-marca-desktop: #505050;
}

/* ========================================================================================================= */
/*   HEADER   */
/* ========================================================================================================= */

.imgWhatsApp {
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 15%;
  height: 10%;
  z-index: 100000;
}

.imgWhatsApp img {
  width: 100%;
  object-fit: cover;
}

.headerIndex {
  position: relative;
  z-index: 2000;
  width: 100%;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: flex-start;
  background: var(--color--nav-footer);
}

.logoCasaMobile {
  position: absolute;
  top: 0%;
  left: 30%;
  height: 100%;
}

.logoCasaMobile img {
  width: 75%;
  object-fit: cover;
}

.headerMenu {
  width: 70%;
}

.headerMenuButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerMenuButton:focus {
  box-shadow: none;
}

.headerMenuButton ion-icon {
  color: var(--button--accordion);
  width: 2rem;
  height: 2rem;
}

.offcanvas-start {
  top: 3rem;
}

.offcanvas-backdrop.show {
  opacity: 0;
}

.headerMenu .offcanvas-body {
  padding: 0;
  background: var(--color--nav-footer);
}

.headerIndex__acordeon .accordion-button {
  color: var(--button--accordion);
  background: var(--color--nav-footer);
}

.headerIndex__acordeon .accordion-button:focus {
  box-shadow: none;
  background-color: var(--color--nav-footer);
  color: var(--button--accordion);
}

.accordion-button::after {
  color: var(--button--accordion);
  background-image: url(images/chevron-forward-outline.svg);
}

.accordion-button:not(.collapsed)::after {
  color: var(--button--accordion);
  background-image: url(images/chevron-forward-outline.svg);
  transform: rotate(90deg);
}

.headerIndex__acordeon .accordion-body {
  display: flex;
  flex-direction: column;
  color: var(--button--accordion);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  background: var(--color--nav-footer);
}

.headerIndex__acordeon .accordion-body a {
  color: var(--button--accordion);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

.headerIndex__acordeon a {
  text-decoration: none;
  color: var(--negro);
}

.headerInput {
  height: 60%;
}

.btn__otrasMascotas--color {
  color: white;
  text-decoration: none;
}

.btn__otrasMascotas--color:hover {
  color: white !important;
}

/* ========================================================================================================= */
/*   MAIN   */
/* ========================================================================================================= */

.mainIndex {
  padding: 0;
}

/* ========================================================================================================= */
/*   MAIN CARROUSEL 1   */
/* ========================================================================================================= */

.mainIndex__carrousel {
  padding: 0;
}

.carrouselPrincipal .carousel-item {
  background: grey;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--negro);
}

/* ========================================================================================================= */
/*   MAIN BANNER   */
/* ========================================================================================================= */

.mainIndex__bannerContainer {
  height: 12vh;
  background: var(--blanco);
  padding: 0;
}

.mainIndex__bannerContainer img {
  padding: 0;
}

.mainIndex__bannerContainer div:nth-child(2) {
  border-left: 1px solid var(--main--color);
  border-right: 1px solid var(--main--color);
}

.mainIndex__bannerContainer div {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.7rem;
}

.mainIndex__bannerContainer img {
  height: 100%;
}

/* ========================================================================================================= */
/*   MAIN CARROUSEL 2   */
/* ========================================================================================================= */

.mainIndex__marcasCarrousel {
  padding: 0;
  margin: 1rem 0 0 0;
}

.marcasCarrousel__titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 0 1rem;
  width: 100%;
}

.marcasCarrousel__titulo div:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.marcasCarrousel__titulo h2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 1rem 0 0;
}

.marcasCarrousel__titulo a {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--main--color);
}

.marcasCarrousel__titulo div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem 1rem 0;
}

.marcasCarrousel__titulo ion-icon {
  color: var(--main--color);
  width: 2rem;
  height: 2rem;
}

.marcasCarrousel__titulo .carousel-control-prev {
  margin-right: 1rem;
}

.marcasCarrousel__titulo .carousel-control-prev,
.marcasCarrousel__titulo .carousel-control-next {
  height: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  padding: 0;
  color: var(--blanco);
  text-align: center;
  border: 1px solid var(--main--color);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.15s ease;
}

.carrouselSecundario .carousel-item {
  height: 20vh;
}

.carrouselSecundario .card-group {
  height: 100%;
  display: flex;
  justify-content: center;
}

.carrouselSecundario .card {
  margin: 0 1rem;
  width: 100%;
  height: 100%;
}

.carrouselSecundario .card img {
  width: 100%;
  height: 100%;
  background: transparent;
}

/* ========================================================================================================= */
/*   MAIN MAS VENDIDOS   */
/* ========================================================================================================= */

.mainIndex__masVendidos {
  margin-top: 2rem;
}

.masVendidos__titulo {
  display: flex;
  padding: 0 0 0 1.5rem;
  margin-bottom: 1rem;
}

.masVendidos__titulo h2 {
  font-size: 1rem;
  font-weight: 700;
}

.masVendidos__titulo h3 {
  margin: 0 0 0 1rem;
  font-size: 0.8rem;
  color: #606060;
}

.masVendidos__productos {
  padding: 0;
  justify-content: space-around;
}

/* ========================================================================================================= */
/*              PRODUCTO              */
/* ========================================================================================================= */

.producto {
  padding: 0 0 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 1rem 0;
  border: 1px solid rgba(245, 199, 81, 0.102);
  background-color: #ffffff;
}

.producto button {
  font-family: "Roboto", sans-serif;
  padding: 0;
}

.producto button:focus {
  outline: none;
  box-shadow: none;
}

.producto img {
  width: 80%;
}

.producto a {
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
  width: 85%;
  padding: 0.2rem 0;
  color: var(--blanco);
  background: var(--boton--comprar);
  border-radius: 3px;
}

.productoCard {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.productoCard .card-body {
  padding: 0;
}

.producto .card-body h5 {
  font-size: 1rem;
  font-weight: 900;
}

.producto .card-body p {
  height: 3rem;
  text-align: left;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.modalProducto {
  padding: 0;
}

.modalProducto__titulo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.modalProducto__titulo button {
  width: 10%;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalProducto__titulo ion-icon {
  width: 100%;
  height: 100%;
}

.modalProducto__titulo h2 {
  margin-left: 5%;
}

.modalProducto .modal-dialog {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalProducto .modal-content {
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
  height: 90%;
  width: 90%;
  text-align: center;
}

.modalProducto .modal-content h2 {
  padding: 0 1rem;
  font-size: 1.3rem;
  font-weight: 900;
}

/* .modalProducto .modal-content img {
  width: 70%;
  margin-top: 0.5rem;
} */

.carouselProductos {
  width: 100%;
  height: 50%;
}

.carouselProductos button span {
  justify-content: center;
  align-self: center;
}

.carouselProductos .carousel-item {
  width: 85%;
}

.carouselProductos .carousel-inner {
  padding: 0 0 0 3rem;
}

.modalProducto .modal-content h4 {
  font-weight: 600;
  font-size: 0.9rem;
}

.modalProducto .modal-content .modalSpan {
  align-self: flex-start;
  padding-left: 1rem;
}

.infoPesos {
  width: 100%;
}

.infoPesos ul {
  padding: 0 0 0 2rem;
  text-align: left;
}

.infoPesos li {
  font-size: 1rem;
  font-weight: 600;
}

.infoPesos p {
  margin: 0 0 0 0.5rem;
  font-size: 0.8rem;
  font-weight: normal;
  display: inline;
}

.modalProducto .modal-content a {
  text-align: center;
  text-decoration: none;
  width: 85%;
  padding: 0.2rem 2rem;
  color: var(--blanco);
  background: var(--boton--comprar);
  border-radius: 3px;
}

/* ========================================================================================================= */
/* MAIN BANNER CHICO */
/* ========================================================================================================= */

.mainIndex__bannerChico {
  padding: 1rem 1.5rem;
}

.mainIndex__bannerChico div {
  border: 1px solid var(--main--color);
}

.mainIndex__bannerChico p {
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
  color: var(--main--color);
  font-family: "Roboto", sans-serif;
}

/* ========================================================================================================= */
/* MAIN BANNER BIENVENIDO */
/* ========================================================================================================= */

.mainIndex__bannerBienvenido {
  padding: 0;
  height: 100%;
  background: #8d8d8d;
}

.bannerBienvenidoImgMobile {
  width: 100%;
}

.mainIndex__bannerBienvenido a {
  width: 100%;
  height: 100%;
}

/* ========================================================================================================= */
/* MAIN BANNER CUPON */
/* ========================================================================================================= */

.mainIndex__bannerCupon {
  position: relative;
  height: 100%;
  padding: 0;
  background: #c4c4c4;
}

.mainIndex__bannerCupon img {
  object-fit: cover;
  width: 100%;
}

/* ========================================================================================================= */
/*         PREGUNTAS FRECUENTES             */
/* ========================================================================================================= */

.mainPreguntas {
  font-family: "Roboto", sans-serif;
  padding: 1.5rem 1rem;
}

.mainPreguntas h2 {
  margin: 0 0 2rem 0;
}

.mainPreguntas h3 {
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
}

.mainPreguntas h4 {
  font-weight: 600;
  font-size: 16px;
}

.mainPreguntas div {
  margin: 0 0 2rem 0;
}

/* ========================================================================================================= */
/*     FOOTER     */
/* ========================================================================================================= */

.footerIndex {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 2rem 0;
  background: var(--color--nav-footer);
  color: var(--button--accordion);
}

.footerIndex .footerIndex__a {
  text-decoration: none;
  color: var(--button--accordion);
  font-weight: 700;
}

.footerIndex .footerIndex__p {
  padding: 0 3rem;
  font-weight: 700;
}

.footerIndex .logosFooterContainer {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.footerIndex a {
  color: var(--button--accordion);
  text-decoration: none;
}

.footerIndex ion-icon {
  width: 2rem;
  height: 3rem;
}

/* ========================================================================================================= */
/* LAYOUT */
/* ========================================================================================================= */

.mainDogsFood__section {
  margin: 1rem;
}

.mainDogsFood__section-label {
  font-size: 18px;
}

.mainDogsFood__section-buttons {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0 2rem 0;
}

.mainDogsFood__section-buttons--size {
  padding: 0 !important;
  width: 40%;
  font-size: 16px;
}

.mainDogsFood__section-buttons--color {
  background-color: #0a847e;
  border-color: #0a847e !important;
  color: #fafafa;
}

.btn:hover {
  color: #fafafa !important;
}

.tipoAlimento__titulo {
  padding-left: 0;
}

.tipoAlimento__titulo h2 {
  font-weight: 100;
  font-size: 18px;
}

.producto a {
  color: #fafafa;
}

.producto .card-title {
  font-size: 14px !important;
}

.producto .card-text {
  font-size: 12px !important;
}

.card__img-mobile--size {
  height: 120px;
  max-height: 120px;
}

.modal__img-mobile--size {
  height: 18rem !important;
}

.linkGatosFood__seco--a {
  color: #551a8b;
  text-decoration: none;
  font-size: 14px;
}

.linkGatosFood__seco--div {
  text-align: right;
  margin: 1rem 0 1rem 0;
}

.tipoAlimento__titulo--proto {
  display: none;
}

.tipoAlimento__descripcion {
  display: none;
}

/* ========================================================================================================= */
/* PRODUCT CARD  */
/* ========================================================================================================= */

.productos__cards--size {
  justify-content: flex-start !important;
}

/* ========================================================================================================= */
/* MEDIAS QUERYS */
/* ========================================================================================================= */

@media all and (min-width: 960px) {
  body {
    background: #feffe9;
  }

  .imgWhatsApp {
    position: fixed;
    bottom: 10%;
    right: 0%;
    width: 10%;
    height: 10%;
    z-index: 100000;
  }

  .imgWhatsApp img {
    width: 65%;
    object-fit: cover;
  }

  .headerIndex {
    position: relative;
    z-index: 2000;
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 4rem;
    height: 100%;
    align-items: center;
    background: transparent;
  }

  .headerLogoDesktop {
    background: #feffe9;
    width: 100%;
    height: 100%;
    color: var(--blanco);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3rem;
    padding: 0 0 0 6rem;
    font-family: "Rubik Mono One", sans-serif;
  }

  .menuDesktop {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .menuDesktop ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #0a847e;
  }

  .menuDesktop li {
    position: relative;
    padding: 0rem;
    width: 12%;
    text-align: center;
    margin: 0 4rem;
    font-weight: 600;
    color: var(--blanco);
  }

  .menuDesktop li:hover {
    background: #08ddb8;
  }

  .menuDesktop li:hover > .menuDesktopPerros,
  .menuDesktop li:hover > .menuDesktopGatos {
    display: flex;
  }

  .menuDesktopPerros,
  .menuDesktopGatos {
    position: fixed;
    display: none;
    width: 65%;
    background: #efebe2;
    color: var(--negro);
  }

  .menuDesktopPerros a,
  .menuDesktopGatos a {
    text-decoration: none;
    color: var(--negro);
    width: 100%;
    height: 100%;
  }

  .menuDesktopPerrosContenedores,
  .menuDesktopGatosContenedores {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .menuDesktopPerrosContenedores div,
  .menuDesktopGatosContenedores div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .menuDesktopPerrosContenedores h5,
  .menuDesktopGatosContenedores h5 {
    font-weight: 600;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuDesktopPerrosContenedores p,
  .menuDesktopGatosContenedores p {
    font-weight: 200;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuDesktopPerrosContenedores h5:hover,
  .menuDesktopGatosContenedores h5:hover,
  .menuDesktopPerrosContenedores p:hover,
  .menuDesktopGatosContenedores p:hover {
    background: #08ddb8;
  }

  .menuDesktopPerrosContenedores div:nth-child(3) p,
  .menuDesktopGatosContenedores div:nth-child(3) p {
    background: transparent;
  }

  .menuDesktopGatos {
    left: 15%;
  }

  .menuDesktop li:hover {
    background: #08ddb8;
  }

  .menuDesktop li:hover > .menuDesktopPerros,
  .menuDesktop li:hover > .menuDesktopGatos {
    display: flex;
  }

  .menuDesktopPerros,
  .menuDesktopGatos {
    position: fixed;
    display: none;
    width: 65%;
    background: #efebe2;
    color: var(--negro);
  }

  .menuDesktopPerros a,
  .menuDesktopGatos a {
    text-decoration: none;
    color: var(--negro);
    width: 100%;
    height: 100%;
  }

  .menuDesktopPerrosContenedores,
  .menuDesktopGatosContenedores {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .menuDesktopPerrosContenedores div,
  .menuDesktopGatosContenedores div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .menuDesktopPerrosContenedores h5,
  .menuDesktopGatosContenedores h5 {
    font-weight: 600;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuDesktopPerrosContenedores p,
  .menuDesktopGatosContenedores p {
    font-weight: 200;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuDesktopPerrosContenedores h5:hover,
  .menuDesktopGatosContenedores h5:hover,
  .menuDesktopPerrosContenedores p:hover,
  .menuDesktopGatosContenedores p:hover {
    background: #08ddb8;
  }

  .menuDesktopPerrosContenedores div:nth-child(3) p,
  .menuDesktopGatosContenedores div:nth-child(3) p {
    background: transparent;
  }

  .menuDesktopGatos {
    left: 15%;
  }

  /* ========================================================================================================= */
  /*   MAIN   */
  /* ========================================================================================================= */

  /* ========================================================================================================= */
  /*   MAIN CARROUSEL 1   */
  /* ========================================================================================================= */

  .mainIndex__carrousel {
    padding: 0;
    height: 43vh;
  }

  .carrouselPrincipal {
    height: 100%;
  }

  .carrouselPrincipal .carousel-inner {
    height: 100%;
  }

  .carrouselPrincipal .carousel-item {
    height: 100%;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mainIndex__banner {
    padding: 0;
  }

  .mainIndex__bannerDesktop img {
    width: 100%;
  }

  .mainIndex__marcasCarrousel {
    padding: 0 5rem;
    margin: 1rem 0 0 0;
  }

  .marcasCarrousel__titulo h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem 0 0;
  }

  .marcasCarrousel__titulo a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-marca-desktop);
  }

  .marcasCarrousel__titulo ion-icon {
    color: var(--negro);
    width: 2rem;
    height: 2rem;
  }

  .marcasCarrousel__titulo .carousel-control-prev,
  .marcasCarrousel__titulo .carousel-control-next {
    height: 3rem;
    width: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: var(--negro);
    text-align: center;
    border: 2px solid var(--negro);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.15s ease;
  }

  .mainIndex__masVendidos {
    margin-top: 2rem;
    padding: 0 5rem;
  }

  .masVendidos__titulo {
    display: flex;
    align-items: center;
  }

  .masVendidos__titulo h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem 0 0;
  }

  .masVendidos__titulo a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-marca-desktop);
  }

  .masVendidos__productos {
    padding: 0;
    /* justify-content: space-between; */
  }

  .producto {
    width: 20%;
    height: 20rem;
    padding: 0 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 1rem 1rem 1rem;
    border: 1px solid rgba(245, 199, 81, 0.102);
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .producto a {
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-decoration: none;
    width: 85%;
    padding: 0.2rem 2rem;
    color: var(--blanco);
    background: #f89dff;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .producto .btn:hover {
    color: var(--negro) !important;
  }

  .productoCard .card-body {
    padding: 0;
    width: 100%;
    text-align: start;
  }

  .producto .card-body h5 {
    font-size: 1rem;
    color: #828282;
    font-weight: 900;
  }

  .producto .card-body p {
    height: 3rem;
    text-align: left;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }

  .modalProducto {
    padding: 0;
  }

  .modalProducto__titulo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .modalProducto .carousel-item img {
    width: 100%;
  }

  .modalProducto__titulo button {
    width: 10%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modalProducto__titulo ion-icon {
    width: 100%;
    height: 100%;
  }

  .modalProducto__titulo h2 {
    margin-left: 20%;
  }

  .carouselProductos {
    width: 100%;
    height: 50%;
    display: flex;
  }

  .carouselProductos .carousel-item {
    width: 75%;
  }

  .carouselProductos .carousel-inner {
    padding: 0 0 0 5rem;
  }

  .carousel-indicators [data-bs-target] {
    border: none;
    background: #bea4ff;
  }

  .modalProducto .modal-dialog {
    height: 100%;
    margin: 0 0 0 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modalProducto .modal-content {
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    width: 90%;
    text-align: center;
  }

  .modalProducto .modal-content h2 {
    padding: 0 1rem;
    font-size: 1.3rem;
    font-weight: 900;
  }

  .modalProducto .modal-content a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    width: 50%;
    height: 6%;
    padding: 0.2rem 2rem;
    color: var(--blanco);
    background: #f89dff;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .modal-content p {
    font-size: 0.7rem;
    color: gray;
  }

  .producto--size {
    width: 30% !important;
    height: 376px !important;
    margin: 1rem 1% 1rem 2% !important;
  }

  /* .productos__cards--size {
    justify-content: flex-start !important;
  } */

  /* ========================================================================================================= */
  /* MAIN BANNER CHICO */
  /* ========================================================================================================= */

  .mainIndex__bannerChico {
    padding: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainIndex__bannerChico div {
    border: 1px solid transparent;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainIndex__bannerChico p {
    background: #f89dff;
    border-radius: 0.5rem;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 900;
    margin: 0;
    text-align: center;
    color: var(--blanco);
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  /* ========================================================================================================= */
  /* MAIN BANNER BIENVENIDO */
  /* ========================================================================================================= */

  .mainIndex__bannerBienvenido {
    padding: 0;
    height: 100%;
    background: transparent;
    margin-bottom: 0;
    background: #9752da;
    height: 40vh;
  }

  .mainIndex__bannerBienvenido a {
    width: 100%;
    height: 100%;
  }

  .bannerBienvenidoContainerImg {
    position: relative;
  }

  .bannerBienvenidoImg1,
  .bannerBienvenidoImg2 {
    position: absolute;
    object-fit: cover;
    width: 100%;
  }

  .bannerBienvenidoImg1 {
    width: 55%;
    bottom: 0;
    left: 25%;
  }

  .bannerBienvenidoImg2 {
    width: 50%;
    top: 0;
    left: 25%;
  }

  .bannerProductosDeCalidad {
    height: 10vh;
    background: #08ddb8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .bannerProductosDeCalidad h2 {
    font-weight: bolder;
    font-size: 3rem;
    margin: 0;
  }

  /* ========================================================================================================= */
  /* MAIN BANNER CUPON */
  /* ========================================================================================================= */

  .mainIndex__bannerCupon {
    position: relative;
    height: 100%;
    padding: 0;
    background: transparent;
  }

  .mainIndex__bannerCupon img {
    object-fit: cover;
    width: 100%;
  }

  /* ========================================================================================================= */
  /*         PREGUNTAS FRECUENTES             */
  /* ========================================================================================================= */

  .mainPreguntas {
    font-family: "Roboto", sans-serif;
    padding: 7.5rem 4rem;
    position: relative;
  }

  .mainPreguntas h3 {
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 1rem 0;
  }

  .pGenerales {
    font-size: 1rem;
  }

  .dudasParticulares {
    width: 50%;
    font-size: 1.8rem;
    font-weight: 100;
  }

  .imgCasaAnimalDesktopPreguntas {
    position: absolute;
    top: 2%;
    left: 45%;
    width: 10%;
  }

  .sectionBannerPreguntas {
    background-color: #08ddb8;
    justify-content: center;
    align-items: center;
  }

  /* ========================================================================================================= */
  /*     FOOTER     */
  /* ========================================================================================================= */

  .footerIndex {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 2rem 0;
    margin-top: 1rem;
    background: transparent;
    color: #0a847e;
    position: relative;
  }

  .imgFooterGatito {
    position: absolute;
    top: 35%;
    right: 15%;
  }

  .footerSeccionesContainer {
    height: 40%;
    width: 100%;
    display: flex;
    padding: 0 0 0 5rem;
    justify-content: space-evenly;
  }

  .footerSeccionesContainer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footerSeccionesContainer h4 {
    font-weight: 900;
  }

  .footerSeccionesContainer a {
    margin-bottom: 0.5rem;
    font-weight: normal;
    text-decoration: none;
    color: #0a847e;
  }

  .footerIndex p {
    padding: 0 3rem;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .footerIndex h3 {
    font-weight: 900;
  }

  .footerIndex .footerIndex__a {
    text-decoration: none;
    color: var(--negro);
    font-weight: 700;
  }

  .footerIndex .footerIndex__p {
    padding: 0 3rem;
    font-weight: 700;
  }

  .footerIndex .logosFooterContainer {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  .footerIndex ion-icon {
    width: 2rem;
    height: 3rem;
  }

  .footerIndex span {
    color: #969696;
    font-weight: 900;
  }

  .producto--size .btn .productoCard {
    height: 300px;
  }

  .menuDesktopPerros--position {
    left: 15%;
  }

  .producto--size .btn .productoCard .d-md-block {
    width: 250px;
    height: 200px;
  }

  .mainDogsFood__section-label {
    font-size: 36px;
    padding-left: 6rem;
    font-weight: bold;
  }

  .tipoAlimento__subTitulo h2 {
    display: none;
  }

  .tipoAlimento__titulo--proto {
    padding-left: 6rem;
    color: #a8a8a8;
  }

  .tipoAlimento__titulo h2 {
    font-weight: bold;
    font-size: 36px;
    padding-left: 5rem;
  }

  .tipoAlimento__descripcion {
    font-weight: bold;
    font-size: 30px;
    padding-left: 5rem;
    display: inline;
    color: #a8a8a8;
  }

  .mainDogsFood__section-buttons {
    display: none;
  }
}
