<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@100;400;700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../style.css" />
    <title>Gatos | Salud</title>
  </head>
  <body>
    <div class="imgWhatsApp">
      <a
        href="https://api.whatsapp.com/send?phone=541165956466&text=Hola Casa Animal, quisiera consultarles sobre lo siguiente:"
        target="_blank"
      >
        <img src="../../../images/whatsapp.png" alt="" />
      </a>
    </div>
    <header class="headerIndex">
      <!-- HEADER MOBILE -->

      <button
        class="btn headerMenuButton d-md-none"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#menuModal"
        aria-controls="menuModal"
      >
        <ion-icon name="menu-outline"></ion-icon>
      </button>
      <div class="logoCasaMobile d-md-none">
        <a href="../../../index.html">
          <img src="../../../images/LogoCasaAnimalMobile.svg" alt="" />
        </a>
      </div>

      <div
        class="offcanvas offcanvas-start headerMenu d-md-none"
        tabindex="-1"
        id="menuModal"
        aria-labelledby="offcanvasExampleLabel"
      >
        <div class="offcanvas-body">
          <!-- COMIENZO DEL ACORDEON DEL MENÚ -->
          <div class="accordion headerIndex__acordeon" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Perros
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <a href="../../perros/alimento">Alimento</a>
                  <a href="../../perros/salud">Salud</a>
                  <a href="../../perros/golosinas">Golosinas</a>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Gatos
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <a href="../alimento">Alimento</a>
                  <a href="../salud">Salud</a>
                  <a href="../golosinas">Golosinas</a>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Otras mascotas
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <a href="../../otras mascotas">Otras mascotas</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- HEADER DESKTOP -->

      <div class="headerLogoDesktop d-none d-md-block">
        <a href="../../../index.html">
          <img src="../../../images/logoHeaderDesktop.svg" alt="" />
        </a>
      </div>
      <div class="menuDesktop d-none d-md-block">
        <ul>
          <li>
            Perros
            <div class="menuDesktopPerros menuDesktopPerros--position">
              <div class="menuDesktopPerrosContenedores">
                <div>
                  <a href="../../perros/alimento">
                    <h5>Alimento</h5>
                  </a>
                  <a href="../../perros/alimento#secos">
                    <p>Secos</p>
                  </a>
                  <a href="../../perros/alimento#humedos">
                    <p>Húmedos</p>
                  </a>
                </div>
                <div>
                  <a href="../../perros/salud">
                    <h5>Salud</h5>
                  </a>
                  <a href="../../perros/salud">
                    <p>Pipetas</p>
                  </a>
                  <a href="../../perros/salud">
                    <p>Medicamentos</p>
                  </a>
                </div>
                <div>
                  <a href="../../perros/golosinas">
                    <h5>Golosinas</h5>
                  </a>
                  <a href="">
                    <p class="pNoVisiblesMenu"></p>
                  </a>
                  <a href="">
                    <p class="pNoVisiblesMenu"></p>
                  </a>
                </div>
              </div>
              <img src="../../../images/perritoMenu.svg" alt="" />
            </div>
          </li>
          <li>
            Gatos
            <div class="menuDesktopGatos">
              <div class="menuDesktopGatosContenedores">
                <div>
                  <a href="../alimento">
                    <h5>Alimento</h5>
                  </a>
                  <a href="../alimento#secos">
                    <p>Secos</p>
                  </a>
                  <a href="../alimento#humedos">
                    <p>Húmedos</p>
                  </a>
                </div>
                <div>
                  <a href="../salud">
                    <h5>Salud</h5>
                  </a>
                  <a href="../salud">
                    <p>Pipetas</p>
                  </a>
                  <a href="../salud">
                    <p>Medicamentos</p>
                  </a>
                </div>
                <div>
                  <a href="../golosinas">
                    <h5>Golosinas</h5>
                  </a>
                  <a href="">
                    <p class="pNoVisiblesMenu"></p>
                  </a>
                  <a href="">
                    <p class="pNoVisiblesMenu"></p>
                  </a>
                </div>
              </div>
              <img src="../../../images/gatitoMenu.svg" alt="" />
            </div>
          </li>
          <!-- <li>Accesorios</li> -->
          <li>
            <a class="btn__otrasMascotas--color" href="../../otras mascotas"
              >Otras mascotas</a
            >
          </li>
        </ul>
      </div>
    </header>
    <main class="mainDogsFood">
      <section class="mainDogsFood__section">
        <div></div>
        <section class="mainIndex__masVendidos container-fluid">
          <div class="row justify-content-center">
            <div class="masVendidos__titulo col-12 tipoAlimento__titulo">
              <h2>Salud para gatos</h2>
            </div>

            <div
              class="masVendidos__productos productos__cards--size row col-12"
            >
              <!-- Primer producto -->
              <div class="producto producto--size col-6 col-md-2">
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal1"
                >
                  <div class="card productoCard">
                    <img
                      src="../../../images/imgProductos/imgCats/salud/Power comprimidos 1.png"
                      class="card-img-top d-md-none card__img-mobile--size"
                      alt="..."
                    />
                    <img
                      src="images/imgProductos/EukanubaAdultoDesktop.svg"
                      class="card-img-top d-md-block d-none"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Power comprimidos</h5>
                      <p class="card-text">Tableta Powe</p>
                    </div>
                  </div>
                </button>
                <a
                  href="https://api.whatsapp.com/send?phone=541165956466&text=Hola Casa Animal, me gustaría saber el precio de este producto:
                  Power comprimidos"
                  target="_blank"
                  >Comprar</a
                >
              </div>

              <!-- Modal -->
              <div
                class="modal fade modalProducto"
                id="exampleModal1"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modalProducto__titulo">
                      <button
                        type="button"
                        class=""
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      >
                        <ion-icon name="arrow-back-outline"></ion-icon>
                      </button>
                      <h2>Power comprimidos</h2>
                    </div>
                    <!-- <img src="images/imgProductos/EukanubaAdulto1.png" alt="" /> -->

                    <!-- Carousel de imagenes de los productos -->

                    <div
                      id="carouselExampleIndicators1"
                      class="carousel slide carouselProductos"
                      data-bs-ride="carousel"
                    >
                      <div class="carousel-indicators">
                        <button
                          type="button"
                          data-bs-target="#carouselExampleIndicators1"
                          data-bs-slide-to="0"
                          class="active"
                          aria-current="true"
                          aria-label="Slide 1"
                        ></button>
                        <button
                          type="button"
                          data-bs-target="#carouselExampleIndicators1"
                          data-bs-slide-to="1"
                          aria-label="Slide 2"
                        ></button>
                        <button
                          type="button"
                          data-bs-target="#carouselExampleIndicators1"
                          data-bs-slide-to="2"
                          aria-label="Slide 3"
                        ></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img
                            src="../../../images/imgProductos/imgCats/salud/Power comprimidos 1.png"
                            class="d-block w-100 modal__img-mobile--size"
                            alt="..."
                          />
                        </div>
                        <div class="carousel-item">
                          <img
                            src="../../../images/imgProductos/imgCats/salud/Power comprimidos 2.png"
                            class="d-block w-100 modal__img-mobile--size"
                            alt="..."
                          />
                        </div>
                        <div class="carousel-item">
                          <img
                            src="../../../images/imgProductos/imgCats/salud/Power comprimidos 3.png"
                            class="d-block w-100 modal__img-mobile--size"
                            alt="..."
                          />
                        </div>
                      </div>
                      <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleIndicators1"
                        data-bs-slide="prev"
                      >
                        <span
                          class="carousel-control-prev-icon"
                          aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleIndicators1"
                        data-bs-slide="next"
                      >
                        <span
                          class="carousel-control-next-icon"
                          aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                    <h4>
                      Tableta Power. Pulguicida, rapida accion, saborizado
                    </h4>
                    <span class="modalSpan">Disponible para gatos de: </span>
                    <div class="infoPesos">
                      <ul>
                        <li>2 - 3 Kg</li>
                        <li>3 - 6 Kg</li>
                        <li>6 - 12 Kg</li>
                      </ul>
                    </div>
                    <a
                      href="https://api.whatsapp.com/send?phone=541165956466&text=Hola Casa Animal, me gustaría saber el precio de este producto:
                      Power comprimidos"
                      target="_blank"
                      >Comprar</a
                    >
                  </div>
                </div>
              </div>

              <!-- Segundo producto -->
              <div class="producto producto--size col-6 col-md-2">
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal2"
                >
                  <div class="card productoCard">
                    <img
                      src="../../../images/imgProductos/imgCats/salud/Power met 1.png"
                      class="card-img-top d-md-none card__img-mobile--size"
                      alt="..."
                    />
                    <img
                      src="images/imgProductos/OldPrinceDesktop.svg"
                      class="card-img-top d-md-block d-none"
                      alt="..."
                    />

                    <div class="card-body">
                      <h5 class="card-title">Power met</h5>
                      <p class="card-text">Pulguicida, Adulticida, Larvicida</p>
                    </div>
                  </div>
                </button>
                <a
                  href="https://api.whatsapp.com/send?phone=541165956466&text=Hola Casa Animal, me gustaría saber el precio de este producto:
                  Power met"
                  target="_blank"
                  >Comprar</a
                >
              </div>

              <!-- Modal -->
              <div
                class="modal fade modalProducto"
                id="exampleModal2"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modalProducto__titulo">
                      <button
                        type="button"
                        class=""
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      >
                        <ion-icon name="arrow-back-outline"></ion-icon>
                      </button>
                      <h2>Power met</h2>
                    </div>

                    <!-- Carousel de imagenes de los productos -->

                    <div
                      id="carouselExampleIndicators2"
                      class="carousel slide carouselProductos"
                      data-bs-ride="carousel"
                    >
                      <div class="carousel-indicators">
                        <button
                          type="button"
                          data-bs-target="#carouselExampleIndicators2"
                          data-bs-slide-to="0"
                          class="active"
                          aria-current="true"
                          aria-label="Slide 1"
                        ></button>
                        <button
                          type="button"
                          data-bs-target="#carouselExampleIndicators2"
                          data-bs-slide-to="1"
                          aria-label="Slide 2"
                        ></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img
                            src="../../../images/imgProductos/imgCats/salud/Power met 1.png"
                            class="d-block w-100 modal__img-mobile--size"
                            alt="..."
                          />
                        </div>
                        <div class="carousel-item">
                          <img
                            src="../../../images/imgProductos/imgCats/salud/Power met 2.png"
                            class="d-block w-100 modal__img-mobile--size"
                            alt="..."
                          />
                        </div>
                      </div>
                      <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleIndicators2"
                        data-bs-slide="prev"
                      >
                        <span
                          class="carousel-control-prev-icon"
                          aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleIndicators2"
                        data-bs-slide="next"
                      >
                        <span
                          class="carousel-control-next-icon"
                          aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                    <h4>
                      Tableta Power. Pulguicida, rapida accion, saborizado
                    </h4>
                    <span class="modalSpan"> Disponible para gatos de: </span>
                    <div class="infoPesos">
                      <ul>
                        <li>Hasta 4 Kg</li>
                        <li>4 - 8 Kg</li>
                      </ul>
                    </div>
                    <a
                      href="https://api.whatsapp.com/send?phone=541165956466&text=Hola Casa Animal, me gustaría saber el precio de este producto:
                      Power met"
                      target="_blank"
                      >Comprar</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="linkGatosFood__seco--div">
          <a href="" class="linkGatosFood__seco--a">Ver más</a>
        </div>
      </section>
      <section class="mainIndex__bannerCupon container-fluid">
        <a href="../../perros/salud">
          <img
            class="d-md-none"
            src="../../../images/banner/visita_perros_salud.svg"
            alt=""
          />
        </a>
        <a href="../../perros/salud">
          <img
            class="d-md-block d-none"
            src="../../../images/banner/visita_perros_salud.svg"
            alt=""
          />
        </a>
      </section>
    </main>
    <footer class="footerIndex d-md-none">
      <a class="footerIndex__a" href="../../../index.html">INICIO</a>
      <a class="footerIndex__a" href="../../../preguntas.html">NOSOTROS</a>
      <a class="footerIndex__a" href="../../../preguntas.html">CONTACTO</a>
      <a class="footerIndex__a" href="../../../preguntas.html"
        >PREGUNTAS FRECUENTES</a
      >
      <a class="footerIndex__a" href="../alimento">GATOS</a>
      <a class="footerIndex__a" href="../../perros/alimento">PERROS</a>
      <a class="footerIndex__a" href="../../../preguntas.html">DIRECCIÓN</a>
      <p class="footerIndex__p">Tucuman 99 - Lomas de Zamora Buenos Aires</p>

      <div class="logosFooterContainer">
        <a href="">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
      </div>
    </footer>

    <footer class="footerIndex d-md-flex d-none">
      <img class="imgFooterGatito" src="../../../images/CAT23 1.svg" alt="" />
      <div class="footerSeccionesContainer">
        <div>
          <h4>CATEGORIAS</h4>
          <a href="../../../index.html">Inicio</a>
          <a href="../alimento">Gatos</a>
          <a href="../../perros/alimento">Perros</a>
          <a href="">Otras mascotas</a>
        </div>
        <div>
          <h4>AYUDA</h4>
          <a href="../../../preguntas.html">Formas de pago</a>
          <a href="../../../preguntas.html">Medios de envío</a>
          <a href="../../../preguntas.html">¿Cómo comprar?</a>
          <a href="../../../preguntas.html">Cambios y devoluciones</a>
          <a href="../../../preguntas.html">Registrate</a>
        </div>
        <div>
          <h4>ATENCIÓN AL CLIENTE</h4>
          <a href="../../../preguntas.html">Contacto</a>
          <a href="../../../preguntas.html">¿Cómo llegar?</a>
          <a href="../../../preguntas.html">Sucursales</a>
        </div>
      </div>
      <p>Dirección: Tucuman 99 - Lomas de Zamora Buenos Aires</p>
      <h3>NUESTRAS REDES</h3>
      <div>
        <a href="">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
      </div>
      <a href="../../../index.html">
        <img src="../../../images/LogoFooter.svg" alt="" />
      </a>
      <span>Desde 2021</span>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
